@import "settings";
@import "foundation";

// Or selectively include components
// @import
//   "foundation/components/accordion",
//   "foundation/components/alert-boxes",
//   "foundation/components/block-grid",
//   "foundation/components/breadcrumbs",
//   "foundation/components/button-groups",
//   "foundation/components/buttons",
//   "foundation/components/clearing",
//   "foundation/components/dropdown",
//   "foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
//   "foundation/components/forms",
//   "foundation/components/grid",
//   "foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
//   "foundation/components/labels",
//   "foundation/components/magellan",
//   "foundation/components/orbit",
//   "foundation/components/pagination",
//   "foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
//   "foundation/components/reveal",
//   "foundation/components/side-nav",
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
//   "foundation/components/switches",
//   "foundation/components/tables",
//   "foundation/components/tabs",
//   "foundation/components/thumbs",
//   "foundation/components/tooltips",
//   "foundation/components/top-bar",
//   "foundation/components/type",
//   "foundation/components/offcanvas",
//   "foundation/components/visibility";

/*
 * HTML5 ✰ Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 *
 * Detailed information about this CSS: h5bp.com/css
 *
 * ==|== normalize ==========================================================
 */


/* =============================================================================
   HTML5 display definitions
   ========================================================================== */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

/* =============================================================================
   Base
   ========================================================================== */

/*
 * 1. Correct text resizing oddly in IE6/7 when body font-size is set using em units
 * 2. Force vertical scrollbar in non-IE
 * 3. Prevent iOS text size adjust on device orientation change, without disabling user zoom: h5bp.com/g
 */

html { font-size: 100%; overflow-y: scroll; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }

body {
	margin: 0; font-size: $rem-base;
	line-height: 150%;
	background: url(../img/white_texture.png) repeat #999;
	-o-transition:all .2s linear;
	-moz-transition:all .2s linear;
	-webkit-transition:all .2s linear;
	transition:all .2s linear;
}

body, button, input, select, textarea { font-family: "museo-slab", serif; color: #222; }

#container {
	width: 93.75%; /* 900px/960px */
	padding: 1.618em;
	margin: 0 auto;
/*	max-width: 55em;	*/
	background: none;
	overflow: hidden;
	padding-top: 2em;
}

#maincontent{
	width: 62.5%; /* 600px/960px */
/*	max-width: 60em;*/
	padding: 0.8em 5.33333333%;
	float: left;
}

#rtcol{
	float: right;
	width: 24.75%; /* 180px/960px */
	padding: 0.625em;
/*	margin-top: 12.5em;*/
}

#header{
	width: 100%;
/*	width: 62.5%; /* 600px/960px *!/*/
/*	max-width: 60em;*/
	padding:0.8em 5.33333333%;
	float: left;
	margin: 0;
	text-align: center;
}

#bottomnav{
	margin: 0 auto;
	padding: 0 auto;
	position: relative;
	clear: both;
	height: 12em;
	background-color: #CCC;
	text-align: center;
	width: 100%;
}

.horizontal{
	float: left;
	display: inline-block;
	position: relative;
	width: 24%;
	margin: 0 auto;
	padding: 1em 0;
	font-size: 1em;
/*	left: 5%;*/
	text-align: left;

   }

/*#footer{
/*	max-width: 940px;*!/
	width: 2000px;
	margin: 0;
	padding-bottom: 1em;
}*/

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate
 * Also: hot pink! (or customize the background color to match your design)
 */

::-moz-selection { background: #344893; color: #fff; text-shadow: none; }
::selection { background: #344893; color: #fff; text-shadow: none; }


/* =============================================================================
   Links
   ========================================================================== */

a { color: #344893;
	text-decoration: none;
	border-bottom: 1px solid #344893;
}
a:visited { color: #484848; }
a:hover { color: #344893;
}
a:focus { outline: thin dotted; }

/* Improve readability when focused and hovered in all browsers: h5bp.com/h */
a:hover, a:active { outline: 0; }

.largetype a:visited{
	color: #344893;
}

.top-bar a {
	border-bottom: none !important;
}

.logo {
	border-bottom: none;
}

/* =============================================================================
   Typography
   ========================================================================== */

abbr[title] { border-bottom: 1px dotted; }

b, strong { font-weight: bold; }

blockquote { margin: 1em 40px; }

dfn { font-style: italic; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }

ins { background: #ff9; color: #000; text-decoration: none; }

mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }

/* Redeclare monospace font family: h5bp.com/j */
pre, code, kbd, samp { font-family: monospace, monospace; _font-family: 'courier new', monospace; font-size: 1em; }

/* Improve readability of pre-formatted text in all browsers */
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

q { quotes: none; }
q:before, q:after { content: ""; content: none; }

small { font-size: 85%; }

/* Position subscript and superscript content without affecting line-height: h5bp.com/k */
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

h1, h2, h3, h4
 {
	font-family: "museo-slab",serif;
	font-style: normal;
	font-weight: 300;
	margin-bottom: 1em;
	padding: 0;
	text-align: left;
}

h1{
	font-size: 1.875em; /* 30px / 16px */
	line-height: 1em;
}

h2.largetype{
	color: #344893;
/*	max-width: 100%;*/
/*	white-space: nowrap;*/
	font-size: 4.25em;
	text-shadow: 2px 2px 1px #fff;
	letter-spacing: -2pt;
	line-height: 1em;
	margin-left: -0.375em;
	margin-bottom: 0.25em;
	-webkit-transition:all .3s ease-in;
	-moz-transition:all .3s ease-in;
	-o-transition:all .3s ease-in;
	transition:all .3s ease-in;
}

h2 a{
	color: #344893;
	text-decoration: none;
}

h3{
	font-size: 1.3125em; /* 21px/16px */
	padding-bottom: 1em;
	font-weight: 700;
}

p{
	margin: 0 0 1em; padding: 0;
	line-height: 1.375em; /* 22px/16px */
	font-family: "freight-sans-pro", 'Ubuntu',  sans-serif;
	font-weight: 300;
	font-size: 1em;
}

p.story {
	font-size: 1em;
	line-height: 2em;
	padding-top: 1em;

}

.copyright{
	margin: 0 auto;
	text-align: center;
}

.figcaption{
	font-size: 0.875em; /* 12px/16px */
	font-weight: 300;
	line-height: 1em;
}

.figcaption i{
	font-weight: 300;
	font-style: italic;
}

.horizontal li{
	margin-bottom: 0.5em;
}

h4{
	font-size: 1.1251em; /* 18px/16px */
	font-weight: 500;
}

.facebook{
	float: left;
	margin: 0 2em 0;
	padding: 1em 0;
	font-size: 0.75em;
	max-height:35%;
	max-width:35%;
}

h4.like{
	vertical-align: middle;
	top: 1.75em;
	position: relative;
	display: block;
	font-size: 1em;
}

.ILtextwrap{
	float: left;
	margin: -0.5em 0.5em;
	margin-left: 0.25em;
/*	margin-top: -0.5em;
	margin-bottom:0;*/
/*	max-height: 40%;
	max-width: 40%;*/
}

.sale-title {
	color: #FFF;
	font-size: 1.35em;
	font-weight: 700;
	margin-top: -0.15em;
	margin-left: -1em;
	float: right;
	text-shadow: 1px 1px 1px #000, 2px 2px 2px #CCC;
}

.location{
	text-align: center;
	margin-left: 0em;
	font-size: 1em;
	color: #FFF;
	margin-top: -2em;
	font-family: inherit;
}

.theme {
	text-align: center;
	font-size: 0.9em;
	color: #FFF;
	font-weight: 300;
}

.details {
	margin-top: 3em;
}

/* =============================================================================
   Lists
   ========================================================================== */

ul, ol { margin: 1em 0; padding: 0 0 0 40px; font-family: "freight-sans-pro", 'Ubuntu',  sans-serif;
font-weight: 300;}
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }


/*ul.dropdown {
	margin: 0px;
	padding: 0px;
	float: left;
	list-style-image: none;
	list-style-type: none;
	position: relative;
	z-index: 597;
}

ul.dropdown a:link, ul.dropdown li{
	color: #000;
	text-decoration: none;
}

ul.dropdown a:hover, ul.dropdown li:hover{
	color: #344893;
	text-decoration: none;
}

ul.dropdown ul{
	background-color: #fff;
	width: 7em;
	padding:0 0.5em 0 0; margin: 0;
	list-style-type: none;
	list-style-image: none;
	position: absolute;
	visibility: hidden;
	z-index: 598;
	top: 100%;
	left: 0;
	font-size: 0.875em /* 14px/16px *!/;
	font-family: "freight-sans-pro", 'Ubuntu',  sans-serif;
	font-weight: 300;
}

ul.dropdown li{
	line-height: 1em;
	display: inline-block;
	padding: 0.4375em .75em; /* 7px/16px 12px/16px *!/
	margin: 0;
	list-style-type: none;
	list-style-image: none;
	font-family: "freight-sans-pro", 'Ubuntu',  sans-serif;
	font-weight: 300;
}

ul.dropdown li:hover{
/*	border-bottom: 2px dotted #00477F;*!/
	position: relative;
	z-index: 599;
}

ul.dropdown li:hover>ul{
	visibility: visible;
}

ul.dropdown ul li{
	float: none;
	border: none;
	text-shadow: none;
	}

ul.coordinator{
	font-size: 1em;
	font-family: "freight-sans-pro", 'Ubuntu',  sans-serif;
	font-weight: 300;
	line-height: 1.375em; /* 22px/16px *!/
}*/

.highlights{
	padding-left: 0.625em;
	line-height: 1.625em;
	font-size: 1.25em;
}

/* =============================================================================
   Embedded content
   ========================================================================== */

/*
 * 1. Improve image quality when scaled in IE7: h5bp.com/d
 * 2. Remove the gap between images and borders on image containers: h5bp.com/e
 */

img, embed, object, video{
	max-width: 100%;
}

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle;
	-o-transition:all .2s linear;
	-moz-transition:all .2s linear;
	-webkit-transition:all .2s linear;
	transition:all .2s linear;

}

/*
 * Correct overflow not hidden in IE9
 */

svg:not(:root) { overflow: hidden; }


/* =============================================================================
   Figures
   ========================================================================== */

figure { margin: 0; }

/*img .ILstate{
	max-height: 20%;
	float: left;
}*/

.header-image-bg {
	background: #f5f5f5 url('../img/india-farmers-sm.jpg') no-repeat center;
	max-width: 100%;
	padding: 2em;
	margin: 0 auto;
	height: 300px;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.visible-img img {
  	margin: auto !important;  /* !important to overwrite negative margin-left and margin-top foundation js gives for images in clearing*/
    
}

/* =============================================================================
   Forms
   ========================================================================== */

form { margin: 0; padding: 5px; background-color: rgba(125, 125, 125, 0.2);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-o-border-radius: 4px;
	border-radius: 4px;
}
fieldset { border: 1; margin: 0; padding: 5px; }

/* Indicate that 'label' will shift focus to the associated form element */
label { cursor: pointer; }

legend { border: 0; *margin-left: -7px; padding: 0; }

button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }

button, input { line-height: normal; *overflow: visible; }

table button, table input { *overflow: auto; }

button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; }

/*
 * Consistent box sizing and appearance
 */

input[type="checkbox"], input[type="radio"] { box-sizing: border-box; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }

/*
 * Remove inner padding and border in FF3/4: h5bp.com/l
 */

button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

textarea { overflow: auto; vertical-align: top; resize: vertical; }

/* Colors for form validity */
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #ccfecc;
	opacity: 0.5;
}

/*#login{
	background-color: rgba(134, 134, 134, 0.35);
	padding: .625em;
	padding-left: 2em;
	font-size: 1em;
/*	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-o-border-radius: 4px;
	border-radius: 4px;*!/
}

#login ol{
	font-size: 1em;
	text-indent: -1.15em;
}*/

.fineprint{
	font-size: .75em;
	font-style: italic;
	margin-bottom: 1em;
}

#login fieldset{
	margin: 0;
}

#login label{
	display: block;
	margin-bottom: 0;
	font-weight: bold;
	line-height: 2em;
	color: #666;
	color: rgba(0, 0, 0, 0.6);
	text-shadow: 0 1px 1px #fff;
}

#login fieldset:last-child{
	margin: 0;
}

#login fieldset input[type="text"]{
	width: 93%;
	padding: 5px 8px;
	font-size: 1em;
	color: #666;
	border: none;
	background-color: #f9f9f9;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-o-border-radius: 4px;
	border-radius: 4px;
}

#login fieldset input[type="password"]{
	width: 93%;
	padding: 5px 8px;
	font-size: 1em;
	color: #666;
	border: none;
	background-color: #f9f9f9;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-o-border-radius: 4px;
	border-radius: 4px;
}

#login fieldset input[type="submit"]{
	border: none;
	padding: 5px 8px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-o-border-radius: 4px;
	border-radius: 4px;
}

#login input[type="text"]:focus{
	-webkit-box-shadow: 0px 0px 5px rgba(51, 204, 255, 0.5);
	-moz-appearance: 0px 0px 5px rgba(51, 204, 255, 0.5);
	box-shadow: 0px 0px 5px rgba(51, 204, 255, 0.5);

}

/* =============================================================================
   Tables
   ========================================================================== */

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }

td.right {
	text-align: right;
	padding-right: 20px;
	font-weight: 700;
	font-style: normal;
}

/*table.member_input, table{border:0px solid; text-align:left; max-width:100%; min-width:100%; width:100%;}*/
table.member_input, tr, th, td {border:0px dashed; text-align:left;}
table.member_input, input {width:'25px';}


dl{
	font-family: "freight-sans-pro", 'Ubuntu', sans-serif;
	font-style: normal;
	font-weight: 300;
}

table.board-contact, tr, th, td{
	padding: 10px;
	border: 0px;
	}



/* ==|== primary styles =====================================================
   Author:
   ========================================================================== */
















/* ==|== non-semantic helper classes ========================================
   Please define your styles before this section.
   ========================================================================== */

/* For image replacement */
.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; }
.ir br { display: none; }

/* Hide from both screenreaders and browsers: h5bp.com/u */
.hidden { display: none !important; visibility: hidden; }

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }

/* Contain floats: h5bp.com/q */
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }



/* ==|== media queries ======================================================
   PLACEHOLDER Media Queries for Responsive Design.
   These override the primary ('mobile first') styles
   Modify as content requires.
   ========================================================================== */

@media only screen and (max-width: 40em) {
  /* Style adjustments for viewports 320px and under go here */

.ILtextwrap{
	margin: -0.25em 0.25em;
	margin-left: 1.9em;
}

.sale-title {
	font-size: 1em;
	font-weight: 500;
	margin-top: -0.15em;
	margin-left: -0.5em;
}

.location {
	margin-top: 0;
}

.theme {
	font-size: 0.8em;
}

.details {
	margin-top: 1em;
}

}

@media only screen and (min-width: 40.063em) {
	.story {
	  font-size: 1.5em !important;
	  line-height: 100%;
	}

}

@media only screen and (min-width: 40.063em) and (max-width: 64em) {
  /* Style adjustments for viewports 768px and under go here */

.header-image-bg {
	background: url('../img/india-farmers-lg.jpg') no-repeat center;
	height: 450px;
	}

.location{
	text-align: left;
	font-size: 1.25em;
	padding-left: 0;
  float:right;
	margin-top: 1em;
	font-family: 'Museo-slab', sans-serif;
}

.ILtextwrap{
	float: right;
	margin-right: 0;
	max-height: 25%;
	max-width: 25%;
}

.sale-title {
	font-size: 1.5em;
	font-weight: 700;
	margin-top: -0.15em;
	margin-left: 0;
	float: right;
	text-shadow: none;
}

.theme {
	text-align: center;
	font-size: 0.9em;
	color: #FFF;
	font-weight: 300;

}

.details {
	margin-top: 3em;
}

}

@media only screen and (min-width: 64.063em) {
  /* Style adjustments for viewports 1024px and over go here */
.header-image-bg {
	height: 600px;
	background: #f5f5f5 url('../img/india-farmers-lg.jpg') no-repeat center;
}

/*h2.largetype {
	font-size: 5.375em;
}*/

.ILtextwrap{
	max-height: 20%;
	max-width: 20%;
	margin-top: 1.5em;
	float: right;
	margin-right: -1.5em;
}

.sale-title {
	font-size: 1.75em;
	text-shadow: none;
	margin-top: 2em;
}

.location{
	text-align: left;
	font-size: 1.5em;
	padding-left: 1.5em;
	margin-top: 1em;
}

.details {
	float: right;
	margin-top: 10em;
}

}

/* ==|== print styles =======================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: h5bp.com/s */
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* h5bp.com/t */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}
